<main id="main">




    <div class="contenedor_titulo">
        <img src="../../assets/index_page/Contenedor_Titular.png" alt="">
    </div>


    <div class="container">

        <div class="row mob">


            <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <div class="logo-cerveza">
                    <img style="width: 70%!important;margin-left: 25%;margin-top: 8%;" src="../../assets/index_page/BOTELLA_INICIO.png" alt="">
                </div>
            </div>


            <div class="col-8  col-md-8 col-lg-8 col-xl-8 col-xxl-8" style="z-index: 1;">
                <div class="logo">
                    <img src="../../assets/index_page/TITULAR_NUEVA FÓRMULA.png" alt="">
                </div>
            </div>



            <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <div class="logo-hielo">
                    <img src="../../assets/index_page/HIELO 2.png" alt="">
                </div>
            </div>

            <div class="col-md-3"></div>
            <div class="col-md-8" style="z-index: 1;">
                <div class="controls">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <!-- <img src="./Assets/index_page/Contenedor_Dropdown.png" alt=""> -->
                                <input type="number" min="1" max="31" style="text-align:center;" [(ngModel)]="day" name="day" class="input" placeholder="DD" onKeyPress="if(this.value.length==2) return false;" />
                            </div>
                            <div class="col-4 col-md-4">
                                <!-- <img src="./Assets/index_page/Contenedor_Dropdown.png" alt=""> -->
                                <input type="number" min="1" max="12" style="text-align:center;" [(ngModel)]="month" name="month" class="input" placeholder="MM" onKeyPress="if(this.value.length==2) return false;" />
                            </div>
                            <div class="col-4 col-md-4">
                                <!-- <img src="./Assets/index_page/Contenedor_Dropdown.png" alt=""> -->
                                <input type="number" min="1" max="2021" style="text-align:center;" [(ngModel)]="year" name="year" class="input" placeholder="AAAA" onKeyPress="if(this.value.length==4) return false;" />
                            </div>
                            <div class="col-12col-md-12">
                                <img src="../../assets/index_page/Contenedor_Ingresarc.png" class="pointer" alt="" (click)="enter()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-12 text-center" style="z-index: 1;">
                <img src="../../assets/index_page/DECRETO.png" alt="" width="90%">
            </div>
            <div class="col-md-6"></div>



        </div>

    </div>






</main>