#main{
    background-image: url(../../assets/index_page/FONDO.png);

    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    /* height: auto; */
    height: 100vh;

    background-position: center center;
    background-size: cover; 
}

.pointer{
    cursor: pointer;
}

.logo{
    margin-top: 65px;

}
.logo img{
    width: 100%;
}

.logo-cerveza{
    width: 30%;
    max-width: 530px;
    overflow: hidden;
    height: 100vh;
    top: 0;
    position: absolute;
    /**/
    left: 0;
    
    z-index: 1;
}
.logo-cerveza img{
    width: 100%;
}

.logo-hielo{
    width: 30%;
    max-width: 530px;
    overflow: hidden;
    height: 100vh;
    top: 0;
    position: absolute;
    right: 0;
}

.logo-hielo img{
    width: 100%;
}


.contenedor_titulo {
    margin-top: 0;
    width: 100%;
    overflow: hidden;

}

.contenedor_titulo img{
    width: 100%;
    position: absolute;
    top: 5%;
    z-index: 0;
    /**/

    
    left: 0;
}

.super-logo{
    background-image: url(../../assets/index_page/Contenedor_Titular.png);
}

.controls{
    text-align: center;


    max-width: 600px;

}

.controls img{
    width: 100%;
}


.input
{
    border: 0px solid #444444;
    /* height:39px;
    width:346px; */
    background:url(../../assets/index_page/Contenedor_Dropdown.png) no-repeat right top; 
    font-weight: 600;
    color: white; 
    /* padding-left:4px;  */
    /* font-size:20px; */
    background-size: cover;
    width: 100%;
    padding: 10px;
}

input::-webkit-input-placeholder  {
    color: #ffffff;
    letter-spacing: 3px;
   text-align: center;

  }


.footer img{
    width: 100%;
}













