::ng-deep .mat-dialog-container {
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 0%), 0px 24px 38px 3px rgb(0 0 0 / 0%), 0px 9px 46px 8px rgb(0 0 0 / 0%);
    background: #ffffff00 !important;
    color: rgba(0, 0, 0, 0.87);
    border:0px solid #41b6e6;
}

.modal-win img{
    width: 100%;
  }


.cdk-overlay-pane{
    max-width: 65vw;
    width: 250px;
    position: static;
    min-width: 20vw;
}