<main>

<section>
    <div class="container-fluid">
        alkjfsdlkfajdslkfjakldsjfklajsdfklja
    </div>
</section>



<section>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SdR8rl-NbB4" frameborder="0" allowfullscreen></iframe>
 
     </div>


</section>
<div class="separator1">
    <img src="../../assets/home_page/02VidInicio/HIELO_DIVISIÓN.png" alt="">
</div>

<section id="section2-bg">
    <div class="cotainer">
        <div class="">
            <div class="col-md-6">
                <div class="botella">
                    <img src="../../assets/home_page/03NuevaFormula/BOTELLA.png" alt="">
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>





  </main>