<main>

    <section>
        <div class="container-fluid">
            <div class="row menu" style="background-color:#2BD8F7; height: 61px;">
                <div class="col-sm-2 col-md-3 col-lg-3 p-0" >
                    <img style="float: left;max-width: 155px;" src="../../assets/home_page/header/Top_Header_Esquina_1_Logo.png">
                    <img style="position: absolute; width: 40px;left: 8%;top: 2%;" src="../../assets/home_page/header/LOGO V.png">
                </div>
                <div class="col-sm-8 col-md-7 col-lg-7">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
    
                            <ul class="navbar-nav">
                              <li class="nav-item" >
                                <a (click)="onClick('section2-bg')" class="nav-link active pointer" aria-current="page" >Nueva Fórmula</a>
                              </li>
                              <!--li class="nav-item">
                                <a class="nav-link" href="#">Eventos</a>
                              </li-->
                              <li class="nav-item">
                                <a (click)="onClick('section5-bg')" class="nav-link pointer" >Características</a>
                              </li>
                              <li class="nav-item">
                                <a (click)="onClick('section6-bg')" class="nav-link pointer" >Microfiltrado</a>
                              </li>
                              <li class="nav-item">
                                <a (click)="onClick('section7-bg')" class="nav-link pointer" >Presentaciones</a>
                              </li>
                              <!--li class="nav-item">
                                <a (click)="onClick('section8-bg')" class="nav-link pointer" >Filtros</a>
                              </li-->
                              <li class="nav-item">
                                <a (click)="onClick('section9-bg')" class="nav-link pointer" >Stickers</a>
                              </li>
                            </ul>
    
    
    
                          </div>
                        </div>
                      </nav>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 p-0"><img style="float: right;max-width: 74px;" src="../../assets/home_page/header/Top_Header_Esquina.png" alt=""></div>
            </div>
        </div>
    </section>
    
    
    
    <section class="section">
        <div class="video-wrapper">
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/SdR8rl-NbB4" frameborder="0" allowfullscreen></iframe> -->
     
            <!-- <video width="320" height="240" controls>
                <source src="../../assets/ccn_infografia frost 270421.mp4" type="video/mp4">
            </video> -->

       

            <video width="560" height="315" poster="../../assets/home_page/02VidInicio/videohh.jpg" controls>
                <source src="../../assets/ccn_infografia frost 270421.mp4" type="video/mp4">
            </video>


            
         </div>
    
    
    </section>
    
    
    <div class="separator1" >
        <img src="../../assets/home_page/02VidInicio/HIELO_DIVISIÓN.png" alt="">
    </div>
    
    
    <section id="section2-bg">
        <div class="cotainer">
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="">
                        <img class="bote" src="../../assets/home_page/03NuevaFormula/BOTELLA_Simple.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <img class="formula"  src="../../assets/home_page/03NuevaFormula/nueva.png">
                </div>
            </div>
        </div>
    </section>
    
    <img  class="azul" src="../../assets/home_page/07Productos/Agua_Division.png" >
    <section id="section5-bg">
        <div class="cotainer">
            <div class="row">
                <div class="col-md-12 col-12">
                    <img style="max-width: 450px;display: block;margin: 0 auto;width: 100%;" src="../../assets/home_page/05SaborRefrescante/Titular.png">
                </div>
    
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="sabores">
                        <img src="../../assets/home_page/05SaborRefrescante/TIPOLAGER.png" alt="">
                    </div>
                    <div class="sabores">
                        <img src="../../assets/home_page/05SaborRefrescante/MEZCLADEMALTAYLUPULO.png" alt="">
                    </div>
                    <div class="sabores">
                        <img src="../../assets/home_page/05SaborRefrescante/MICROFILTRADAENFRÍO.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-3">
                    <img style="width: 100%;" src="../../assets/home_page/05SaborRefrescante/BOTELLA.png">
                </div>
                <div class="col-md-2">
                    <div class="sabores">
                        <img src="../../assets/home_page/05SaborRefrescante/SABORCONENTRADO.png" alt="">
                    </div>
                    <div class="sabores">
                        <img src="../../assets/home_page/05SaborRefrescante/COLORAMARILLOVIBRANTE.png" alt="">
                    </div>
                    <div class="sabores">
                        <img src="../../assets/home_page/05SaborRefrescante/AROMAAGRANO.png" alt="">
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    
    
    
    <section id="section6-bg">
        <div class="cotainer">
            <div class="row">
                <div class="col-12">
                   <img style="width: 100%;margin-top: -3%;" src="../../assets/home_page/06RenovadoMicroFiltrado/Pleca_Amarilla.png">
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <img style="max-width: 420px;margin: -25% auto; display: block; width: 100%;" src="../../assets/home_page/06RenovadoMicroFiltrado/TITULAR.png" alt="">
                    <p style=" display: block;float: left;padding: 25% 15%; color: #fff; text-align: center;"></p>
                </div>
                <div class="col-12">
                    <img style="margin-top: -6%;width: 100%;" src="../../assets/home_page/06RenovadoMicroFiltrado/HIELODIVISIÓN.png">
                </div>
            </div>
        </div>
        
    </section>
    
    
    
    <section id="section7-bg">
        <div class="cotainer p-5">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 p-5" >
    
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img style='max-width: 120px;margin: 0 auto;' src="../../assets/home_page/07Productos/botella_350ml.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img style='max-width: 195px;margin: 0 auto;' src="../../assets/home_page/07Productos/Lata.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img style='max-width: 120px;margin: 0 auto;' src="../../assets/home_page/07Productos/botella_350ml.png" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>            
                </div>
                <div class="col-2"></div>
                
            </div>
            
        </div>
        
    </section>
    <section class="division" style="position: relative;">
        <div class="col-12">
            <img class="iceleft"  src="../../assets/home_page/07Productos/Hielo_01_Izquierda.png">
            <img  class="icecenter"  src="../../assets/home_page/07Productos/Hielo_Centro.png">
            <img  style="margin: -18px auto;width: 100%;display: block;padding-bottom: 5%;" src="../../assets/home_page/07Productos/Agua_Division.png">
            <img class="iceright"  src="../../assets/home_page/07Productos/Hielo_02_Derecha.png">
    
        </div>
    </section>
    
    <!--section id="section8-bg">
        <div class=" pt-5">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12  pt-3"><img style="width: 100%;margin: 0 auto; display: block;"src="../../assets/home_page/08ScanerPantalla/CERVEZA_MANO_FROST.png"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12  p-5">
                            <img style="width: 100%;"src="../../assets/home_page/08ScanerPantalla/Titular_Etiqueta.png">
                            <p class="textscaner">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita deserunt, suscipit, ducimus vitae possimus dolores inventore veritatis vero nesciunt accusantium, amet dolorem magni consequatur impedit quisquam voluptates quia corrupti laborum?</p>
                            <img class="but" src="../../assets/home_page/08ScanerPantalla/BTN_Filtro.png">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1  pt-5"></div>
                    </div>
                </div>
                <div class="col-lg-6  col-sm-12">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12  pt-3"><img style="width: 100%; max-width: 200px;margin: 0 auto; display: block;"src="../../assets/home_page/08ScanerPantalla/PHONE.png"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12  p-5">
                            <img style="width: 100%;"src="../../assets/home_page/08ScanerPantalla/Titular_Pantalla.png">
                            <p class="textscaner">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita deserunt, suscipit, ducimus vitae possimus dolores inventore veritatis vero nesciunt accusantium, amet dolorem magni consequatur impedit quisquam voluptates quia corrupti laborum?</p>
                            <img class="but" width="160" src="../../assets/home_page/08ScanerPantalla/BTN_Aqui.png">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1  pt-5"></div>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <section class="division" style="position: relative;">
        <div class="col-12">  
            <img  style="margin: -62px auto;width: 100%; display: block;padding-bottom: 5%;" src="../../assets/home_page/08ScanerPantalla/Pleca_Divisoria.png">
        </div>
    </section-->
    
    
    <section id="section9-bg">
        <div class="" style="margin-top: -6%;">
            <div class="row">
                <div class="col-lg-6 col-sm-12 back">
                    <div class="container row">
                        <div class="col-lg-11 col-md-11 col-sm-12  p-5" style="margin-top: 5%;"><img style="width: 100%;margin: 0 auto; display: block;"src="../../assets/home_page/09Stickers/Titular_Stickers.png"></div>
                        <div class="col-lg-1 col-md-1 col-sm-1  pt-5"></div>
                    </div>
                </div>
                <div class="col-lg-6  col-sm-12 p-5">
                    <div class="container row center">
                        <div class="col-lg-6 col-md-6 col-sm-12  pt-3">
                            <a href="../../assets/home_page/09Stickers/ameritamas1.png" download=""><img class="pointer img-stickers" style="width: 100%; max-width: 200px;margin: 0 auto; display: block;" src="../../assets/home_page/09Stickers/ameritamas1.png">
                                <button class="btn btn-outline-success"  download="">Descargar</button> 
                            </a>
                        </div>
    
                        <div class="col-lg-6 col-md-6 col-sm-12  pt-3">
                            <a href="../../assets/home_page/09Stickers/cualquiermomento2.png" download=""><img class="pointer img-stickers" style="width: 100%; max-width: 200px;margin: 0 auto; display: block;" src="../../assets/home_page/09Stickers/cualquiermomento2.png">
                                <button class="btn btn-outline-success"  download="">Descargar</button>
                            </a>
                        </div>
    
                         <div class="col-lg-6 col-md-6 col-sm-12  pt-3">
                            <a href="../../assets/home_page/09Stickers/frost3.png" download=""><img class="pointer img-stickers" style="width: 100%; max-width: 200px;margin: 0 auto; display: block;" src="../../assets/home_page/09Stickers/frost3.png">
                                <button class="btn btn-outline-success"  download="">Descargar</button>
                            </a>
                        </div>
     
                         <div class="col-lg-6 col-md-6 col-sm-12  pt-3">
                            <a href="../../assets/home_page/09Stickers/beerday4.png" download=""><img class="pointer img-stickers" style="width: 100%; max-width: 200px;margin: 0 auto; display: block;" src="../../assets/home_page/09Stickers/beerday4.png">
                                <button class="btn btn-outline-success"  download="">Descargar</button>
                            </a>
                        </div>
    
                          <div class="col-lg-4 col-md-4 col-sm-12  pt-3">
                            <a href="../../assets/home_page/09Stickers/frostbotella5.png" download=""><img class="pointer img-stickers" style="width: 100%; max-width: 200px;margin: 0 auto; display: block;" src="../../assets/home_page/09Stickers/frostbotella5.png">
                                <button class="btn btn-outline-success"  download="">Descargar</button>
                            </a>
                        </div>
     
                         <div class="col-lg-4 col-md-4 col-sm-12  pt-3">
                            <a href="../../assets/home_page/09Stickers/refrescante6.png" download=""><img class="pointer img-stickers" style="width: 100%; max-width: 200px;margin: 0 auto; margin-top:35%!important; display: block;" src="../../assets/home_page/09Stickers/refrescante6.png">
                                <button class="btn btn-outline-success"  download="">Descargar</button>
                            </a>
                        </div>
    
                          <div class="col-lg-4 col-md-4 col-sm-12  pt-3">
                            <a href="../../assets/home_page/09Stickers/enfrio7.png" download=""><img class="pointer img-stickers" style="width: 100%; max-width: 200px;margin: 0 auto; display: block;" src="../../assets/home_page/09Stickers/enfrio7.png">
                                <button class="btn btn-outline-success"  download="">Descargar</button>
                            </a>
                        </div>
     
                        
                    </div>
                </div>
                
            </div>
    
        </div>
    </section>
    
    
    
    <section id="section10-bg" class="p-3">
        <div class="container row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <img style="width: 100%; margin: 0 auto; display: block;" src="../../assets/home_page/footer/DECRETO.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3">
                <img style='max-width: 100px; display: block; float: right;' src="../../assets/home_page/footer/REDES SOCIALES.png">
            </div>
        </div>
    </section>

    </main>